#ServiceTable, #ServiceTable th, #ServiceTable td {
    border: 1px solid #ddd;
    padding: 20px;
}

#ServiceTable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding: 0px 0px;
    margin-bottom: 0px;
}

#ServiceTable tr:nth-child(even){background-color: #f2f2f2;}

#ServiceTable tr:hover {background-color: #ddd;}

#ServiceTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1f9eba;
    color: white;
}

